.table-container {
    display: flex;
    justify-content: center;
}

.game-initialize {
    position: relative;
}

#go-back {
    background-color: transparent !important;
    border: 1px solid;
    color: var(--color-white);
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: -1.5em;
}

#go-back:enabled:hover {
    background-color: transparent !important;
    color: var(--color-white-hover)
}

#enemy-screen,
#intro-screen,
#difficulty-screen,
#flipCoin-screen,
#players-screen {
    max-width: 420px;
    text-align: center;
}

#enemy-screen h2,
#intro-screen h2,
#difficulty-screen h2,
#flipCoin-screen h2 {
    padding: 0 15px;
    margin-bottom: 0.7em;
}

#players-screen label {
    margin: 0.5em 0;
}

#players-screen button {
    font-size: 1.5em;
    padding: 0.2em 0.4em;
    margin: 0.6em auto;
}

#intro-screen button {
    font-size: 3.4em;
    padding: 3% 6%;
    margin: 0 4%;
}

#enemy-screen button,
#difficulty-screen button,
#flipCoin-screen button {
    display: block;
    margin: 0.6em auto;
    font-size: 1.9em;
    padding: 0.2em 0.4em;
}