nav {
    margin-top: 0;
    background: linear-gradient((to right, var(--color-dark-blue), var(--color-light-blue)));
    background: -moz-linear-gradient(right, var(--color-dark-blue), var(--color-light-blue));
    background: -webkit-linear-gradient(right, var(--color-dark-blue), var(--color-light-blue));
    background: -webkit-gradient(linear, right top, left top, from(var(--color-dark-blue)), to(var(--color-light-blue)));
    border-bottom: 1px solid var(--color-white);
    z-index: 20;
}

.nav-link {
    margin: 0px 20px;
}

.navbar-toggler {
    background: var(--color-white) !important;
}

.navbar-toggler:focus {
    box-shadow: none;
    border: 3px solid white
}

.github {
    font-size: 25px !important;
    text-decoration: underline;
}