@import url('./_gameInitialize.css');
:root {
    --cell-size: 650px;
    --mark-size: calc(var(--cell-size) * .25);
}

.game-board {
    margin-bottom: 1rem;
    word-break: break-all;
    text-align: center;
}

#board-info {
    font-size: 1.3em;
    border-radius: 0.3em;
    padding: 0.5em;
}

#player-piece {
    color: yellow;
    font-size: 1.5em;
}

.tictactoe-board-container {
    display: flex;
    justify-content: center;
}

.tictactoe-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    aspect-ratio: 1 / 1;
    width: var(--cell-size);
}

.tictactoe-board>div {
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    font-family: "Permanent Marker", cursive;
    -webkit-box-shadow: 0px 0px 4px 2px #000000;
    -moz-box-shadow: 0px 0px 4px 2px #000000;
    box-shadow: 0px 0px 4px 2px #000000;
    border: 2px solid var(--color-white);
    cursor: pointer;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: var(--color-white);
}

.tictactoe-board.x .cell:not(.x):not(.o):hover::before,
.tictactoe-board.x .cell:not(.x):not(.o):hover::after,
.tictactoe-board.o .cell:not(.x):not(.o):hover::before {
    background-color: rgb(126, 126, 126);
}

.cell.x::before,
.cell.x::after,
.tictactoe-board.x .cell:not(.x):not(.o):hover::before,
.tictactoe-board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.tictactoe-board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.tictactoe-board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.tictactoe-board.o .cell:not(.x):not(.o):hover::before,
.tictactoe-board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.tictactoe-board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
.tictactoe-board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #002c42;
}

.wincell {
    background-color: #60c050;
}

#winning-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    cursor: pointer;
    border: none;
    color: #333;
}

#winning-message {
    font-size: 2.5em;
    margin-bottom: 1.5rem;
}

#restart {
    font-size: 1.5em;
    padding: 5px 10px;
}

#winning-container.show {
    display: flex;
}

.choose:active,
#restart:active {
    background-color: rgb(126, 126, 126);
}

.center {
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .tictactoe-board>div {
        margin: 5px;
    }
     :root {
        --cell-size: 75vw;
    }
}

@media only screen and (max-width: 576px) {
    .tictactoe-board>div {
        margin: 3px;
    }
     :root {
        --cell-size: 80vw;
    }
}