@import url('./icons/fontawesome/css/all.min.css');
@import url('./variables/fonts.css');
@import url('./variables/colors.css');
@import url('./_nav.css');
@import url('./_pwdGenerator.css');
@import url('./_toast.css');
body {
    font-family: var(--font-freshman);
    font-size: 20px;
    color: var(--color-white) !important;
    background: linear-gradient((to right, var(--color-dark-blue), var(--color-light-blue)));
    background: -moz-linear-gradient(right, var(--color-dark-blue), var(--color-light-blue));
    background: -webkit-linear-gradient(right, var(--color-dark-blue), var(--color-light-blue));
    background: -webkit-gradient(linear, right top, left top, from(var(--color-dark-blue)), to(var(--color-light-blue)));
}

a {
    color: var(--color-white) !important;
    font-family: var(--font-lt-funk);
    font-size: 40px !important;
}

.layout-container {
    margin: 25px;
}