<%- include('../partials/title.ejs') %>
    <div class="games-container">
        <button class="arrow-left control" aria-label="Previous image">◀</button>
        <button class="arrow-right control" aria-label="Next Image" id="next">▶</button>
        <div class="gallery-wrapper">
            <div class="gallery">
                <% options.forEach(opt => {%>
                    <a href="<%=opt._href %>" class="item current-item">
                        <img src="<%=opt._src %>" alt="<%=opt._name %>">
                    </a>
                    <%})%>
            </div>
        </div>
    </div>

    <script src="/js/carousel.js"></script>