<%- include('../partials/title.ejs') %>
    <div class="table-container">
        <div id="game-screen" class="center hidden">
            <div class="game-board">
                <label id="board-info"></label><span id="player-piece"></span>
            </div>
            <div class="tictactoe-board-container">
                <div class="tictactoe-board">
                    <% if (locals.gameTable != null) { %>
                        <% gameTable.forEach((cell) => {%>
                            <div id="<%=cell %>-cell" class="cell"></div>
                            <%})%>
                                <% } %>
                </div>
            </div>
            <div id="winning-container">
                <div id="winning-message"></div>
                <button type="button" id="restart">Restart</button>
            </div>
        </div>
        <%- include('../partials/gameInitialize.ejs') %>
    </div>

    <script type="module" src="/js/tictactoe.js"></script>