<%- include('../partials/title.ejs') %>
    <div class="table-container">
        <div id="game-screen" class="center">
            <div class="tictactoe-table">
                <% if (locals.gameTable != null) { %>
                    <% gameTable.forEach((cell) => {%>
                        <div id="cell-<%=cell %>" class="cell"><label id="lbl-<%=cell %>" class="lbl-move"></label></div>
                        <%})%>
                            <% } %>
            </div>
            <button type="button" id="restart">Restart</button>
        </div>
        <!-- <%- include('../partials/gameInitialize.ejs') %> -->
    </div>